# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*
replay_pid*

# Build systems
target/
build/
.gradle/

# IDEs y Editores
.idea/
*.iml
.project
.classpath
.settings/
*.ipr
*.iws
.vscode/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuración local y secretos
.env
application-local.properties
application-local.yml

target/
*.class
.settings/
.classpath
.project